.root {
  &[data-variant="app-shell"] {
    --ai-bg: transparent;
    --ai-color: var(--gray-9);

    &:hover {
      --ai-hover: var(--purple-3);
      --ai-hover-color: var(--accent-7);
      --ai-color: white;
    }

    &[data-active="true"] {
      --ai-bg: var(--accent-11);
    }
  }
}
