.root {
  &[data-variant="hover"] {
    &:hover {
      background-size: 100% 100%;
      background-image: linear-gradient(
        rgba(0, 0, 0, 0) 95%,
        var(--accent-9) 5%
      );
    }

    text-decoration: none;
    background-size: 0% 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0) 95%, var(--accent-9) 5%);
    background-repeat: no-repeat;
    transition-duration: 300ms;
  }
}

