.root {
  .title {
    font-size: rem(24px);
    font-weight: 500;
  }

  .header {
    margin-top: rem(20px);
    padding-inline: rem(32px);
    padding-block: rem(20px);
  }

  .body {
    flex: 1;
    margin-top: rem(18px);
    padding-inline: rem(32px);
    --mb-padding: 0;
  }

  .content {
    display: flex;
    flex-direction: column;
  }
}
