.root {
  &[data-variant="default"] {
    .steps {
      gap: rem(8);

      .stepIcon {
        display: none;
      }

      .separator {
        display: none;
      }

      .step {
        flex: 1;

        .stepBody {
          margin-inline-start: 0;
          flex: 1;

          .stepDescription {
            --stepper-fz: rem(14);

            font-weight: 500;
            color: var(--accent-7);
          }
        }

        &[data-progress="true"] {
          color: var(--accent-9);

          .stepDescription {
            color: var(--accent-9);
          }
        }
      }
    }

    .content {
      padding-block-start: 0;
    }
  }

  &[data-variant="ladder"] {
    flex: 1;

    .steps {
      width: 100%;

      .step {
        width: 100%;

        .stepBody {
          flex: 1;

          .stepDescription {
            margin-block: 0;
          }
        }

        .stepIcon {
          border-color: transparent;
          background: var(--accent-3);

          .stepCompletedIcon {
            color: var(--accent-9);
          }
        }
      }
    }
  }
}
